<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
        <a href="/">HOME</a>
        <a href="/books">ALL BOOKS</a>
        <% if (user) { %>
            <a href="/books/new">ADD BOOK</a>
            <a href="/authors/new">ADD AUTHOR</a>
            <a href="/logout">LOG OUT</a>
          <% } else { %>
            <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
          <% } %>
    </nav>
    <h1><%= title %></h1>