body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.login {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

#bookForm {
  border: 2px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  width: 500px; /* Adjust the width as needed */
}

.genreContainer {
  max-height: 200px; /* Set the maximum height for the container */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

label {
  display: inline;
  margin-bottom: 5px;
}

