<%- include('../partials/header') %>

<form action="/authors" method="POST">
    <label>First Name:</label>
    <input type="text" name="firstName">
    <label>Last Name:</label>
    <input type="text" name="lastName">
    <button type="subbmit">Add Author</button>
</form>

<%- include('../partials/footer') %>